@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(../font/Gilroy/Gilroy-ExtraBold.otf) format("opentype"),
    url(../font/Gilroy/Gilroy-Light.otf) format("opentype");
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy/Gilroy-Light.otf) format("opentype");
}
@font-face {
  font-family: "Zing Rust Demo";
  src: url(../font/Zing_Rust_Demo/ofont.ru_Zing\ Rust.ttf) format("truetype");
}


.container {
  background-color: #403c3b;
  display: flex;
  flex-direction: column;
}

.text {
  color: #ffffff;
  font-family: "Gilroy", Arial, sans-serif;
}

.logo {
  
}

.banner {
}

.banner-text {
  color: #ffffff;
  font-family: "Zing Rust Demo", Arial, sans-serif;
}
